/* Write your code here: */


h1, h2 {
    color: blueviolet;
}

.box > p {
    color: firebrick;
}

/* or ul p.done */ 
p.done {
    font-size: 0.5rem;
}

.box li {
    color: blue;
}

/* or li.done */
li.done {
    color: green;
}
